<template>
    <div>
        <h1>Posts</h1>

        <table v-if="posts.length" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Body</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in posts">
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.body }}</td>
                </tr>
            </tbody>
        </table>


        <div>
            <button class="btn btn-default" @click="createPost">Create</button>
        </div>
    </div>
</template>

<script src="./fetchdata.ts"></script>
