<template>
    <div class="main-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Punch.Web</a>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <template v-for="route in routes">
                        <li>
                            <router-link :to="route.path" :exact="true" v-if="shouldShow(route)">
                                <span class="glyphicon" :class="route.meta.class"></span> {{$t(route.name)}}
                            </router-link>
                        </li>
                        <template v-if="route.children && route.children.length">
                            <li v-if="shouldShow(child)" v-for="child in route.children">
                                <router-link :to="child.path" :exact="true">
                                    <span class="glyphicon" :class="child.meta.class"></span> {{$t(child.name)}}
                                </router-link>
                            </li>
                        </template>
                    </template>
                    <li>
                        <a href="" @click.prevent="logoff">
                            <span class="glyphicon glyphicon-log-out"></span> {{$t('MENU.LOGOUT')}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<style src="./navmenu.css" />
<script src="./navmenu.ts"></script>